* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  background-color: seashell;

}

#page-heading {
  /* height: 10%; */
  text-align: center;
  padding: .5%;
  /* margin: .5%; */
  background-color: sandybrown;
}


/* Input Size, Speed, etc area  */

#input-function-area {
  background-color: sandybrown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%
}

#array-size{
  margin-left: 20%;
}

#algo-speed {
  margin-right: 20%;
}

.input-function-button {
  padding-left: 20px;
  margin-left: 10px;
}

.input-function-texts {
  font-size: 18px;
}

#button-array-generate {
  display: inline-block;
  padding: 8px 16px; 
  font-size: 14px; 
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #8B6969; 
  color: #664444;
  background-color: seashell;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#button-array-generate:hover {
  background-color: #A0522D; 
  border-color: #A0522D; 
  color: #fff; 
}


/* Algorithm Buttons */
#outer-algo-list-div {
  background-color: rgb(230, 142, 66);
}

.algorithm-list {
  margin: auto;
  padding: 10px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-content: center; */
}

.algorithm-list button {
  display: inline-block;
  padding: 8px 16px; 
  font-size: 14px; 
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #8B6969; 
  color: #664444;
  background-color: seashell;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}


.algorithm-list button:hover {
  background-color: #A0522D; 
  border-color: #A0522D; 
  color: #fff; 
}

/* .Algo-button:active, */
.algorithm-list .Button-locked {
  background-color: transparent;
  /* border-color: #A0522D;  */
  /* color: #be0c0c; */
}

.algorithm-list .Button-locked:hover 
{
  background-color: transparent;
  cursor: not-allowed;
  color: #664444;
}

#button-array-generate.Button-locked
{
  background-color: transparent;
  cursor: not-allowed;
  color: #664444;
}

.algorithm-list .Button-selected,
.algorithm-list .Button-selected:hover  {
  background-color: #664444;
  color: #fff;
}

/* .algorithm-list .Button-unselected:hover {
  cursor: not-allowed
} */



/* Containor Array Bars */
#container-sorting-bars{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 62vh;
}


/* Time and Space Complexity */

#algo-complexity-info {
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

#time-complexity, #space-complexity{
  width: 40%;
  text-align: center;
}

#time-complexity-cases {
  display: flex;
  justify-content: space-between;
}

#space-complexity-cases {
  display: flex;
  justify-content: center;
}

.Complexity-type {
  padding: 5px;
}


#text-time-complexity, #text-space-complexity {
  font-size: larger;
  font-weight: bold;
}